- name: Mise version management
  community.general.pacman:
    name: [mise]
    state: present

- name: Ensure mise data directory exists
  become: true
  become_user: { { username } }
  file:
    path: "/home/{{ username }}/.local/share/mise"
    state: directory
    owner: { { username } }
    group: { { username } }
    mode: "0755"

- name: Add Mise activation to bashrc
  lineinfile:
    path: "/home/{{ username }}/.bashrc"
    regexp: "^eval.*mise activate"
    line: 'eval "$(mise activate)"'
    state: present

- name: Add global tool versions for mise
  copy:
    dest: "/home/{{ username }}/.tool-versions"
    content: |
      nodejs 20
      python "latest"
      ruby 3.3
      js "latest"
